<item>
  <title><%= post.title %></title>
  <link>https://ranwen.de<%- post.url %></link>
  <guid>https://ranwen.de<%- post.url %></guid>
  <pubDate><%= new Date(post.date).toISOString() %></pubDate>
  <description><![CDATA[ <%- post.head %> ]]></description>
</item>